@import url("https://fonts.googleapis.com/css?family=Hanken+Grotesk:500,700,800,500italic,700italic,800italic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*& Primary  */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /*& Gradients  */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  /*& Neutral  */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
html {
  font-size: 1.2rem;
}
body {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--Pale-blue);
}
.container {
  width: 38rem;
  border-radius: 2rem;
  display: flex;
  background-color: var(--White);
  overflow: hidden;
}
.container .card {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.4;
}
.card .title {
  font-size: 1rem;
  font-weight: 700;
}
.result .title {
  color: var(--Light-lavender);
}
.result {
  align-items: center;
  color: var(--Light-lavender);
  background-image: linear-gradient(
    0deg,
    var(--Light-royal-blue),
    var(--Light-slate-blue)
  );
  border-radius: 2rem;
}
.result .circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    var(--Persian-blue),
    var(--Violet-blue)
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circle .score {
  font-size: 4em;
  font-weight: 800;
  color: var(--White);
}

.result .great {
  color: var(--White);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: -1rem;
}
.result .description {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.boxes .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.5rem;
}
.boxes .box:nth-child(1) {
  background: color-mix(in srgb, var(--Light-red) 10%, transparent);
  color: var(--Light-red);
}
.boxes .box:nth-child(2) {
  background: color-mix(in srgb, var(--Orangey-yellow) 10%, transparent);
  color: var(--Orangey-yellow);
}
.boxes .box:nth-child(3) {
  background: color-mix(in srgb, var(--Green-teal) 10%, transparent);
  color: var(--Green-teal);
}
.boxes .box:nth-child(4) {
  background: color-mix(in srgb, var(--Cobalt-blue) 10%, transparent);
  color: var(--Cobalt-blue);
}
.boxes .box .icon-name {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.boxes .box .score {
  color: var(--Dark-gray-blue);
}
.boxes .box .score span {
  color: var(--Light-lavender);
  margin-left: 0.25rem;
}
.summary .btn {
  font-size: 1em;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 5rem;
  color: var(--White);
  background-color: var(--Dark-gray-blue);
  transition: all 0.3s ease;
}
.summary .btn:hover {
  cursor: pointer;
  background-image: linear-gradient(
    0deg,
    var(--Light-royal-blue),
    var(--Light-slate-blue)
  );
}
@media(max-width: 36em) {
  html {
    font-size: 0.95rem;
  }
}
@media (max-width: 30em) {
  body {
    padding: 0;
  }
  .container {
    border-radius: 0;
    flex-direction: column;
  }
  .result {
    border-radius: 0 0 2rem 2rem;
  }
}
